params {
    lsf_opts = ""
    runtime_opts = ""
    singularity_cache_dir = "$HOME/.singularity_cache"
}

profiles {

    localdocker {
        docker {
            enabled = true
        }

        singularity {
            enabled = false
        }
    }

    localsingularity {
        docker {
            enabled = false
        }

        singularity {
            enabled = true
        }
    }

    lsf {
        process {
            executor = 'lsf'

            clusterOptions = params.lsf_opts
        }

        docker {
            enabled = false
        }

        singularity {
            enabled = true
        }

    }
}

docker {
    temp = "auto"
    runOptions = "${params.runtime_opts}"
}

singularity {
    autoMounts = true
    cacheDir = "${params.singularity_cache_dir}"
    runOptions = "${params.runtime_opts}"
}

process.ext.sparkLocation = '/spark'
